# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env/
build/
dist/
*.egg-info/

# Secrets & Config
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.json
!package.json
!tsconfig.json
!vercel.json
!studysync-ai-platform-dfc1271abc7c.json # DO NOT PUSH THIS TO GIT! (User should use Environment Variables)

# OS Files
.DS_Store
Thumbs.db
